#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/*---------------------------------------------HOME-----------------------------------------*/
.home-container{
  text-align: center;
}

.heart-logo{
  width: 600px;
  height: 200px;
}
.welcome-api h1{
  font-size: 6em;
  line-height: 1.1;
  color: white;
  background-color: #04B6B6;
  border:4px solid #04B6B6;
  padding: 20px;
  border-radius: 8px;
  font-weight: bold;
  

}
.welcome-api p{
  font: italic small-caps bold 20px/2 cursive;
  color: #333
}

.welcome-buttons {
  display: flex;
  justify-content: center;
  gap:16px
}

.welcome-buttons button{
  background-color: #04B6B6;
  color:white;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s, box-shadow 0.25s;
  cursor:pointer;
}
.welcome-buttons button a{
  color:white;
  font: italic small-caps bold 20px/2 cursive;
}

.welcome-buttons button:hover {
  background-color: #039a9a;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 1);
}
/*---------------------------------------------HOME-----------------------------------------*/
/*---------------------------------------------SIGNUPIN-----------------------------------------*/

.register-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.register-container h2{
  color: #04B6B6;
  font-size: 4em;
  display: flex;
  align-items: center;
  gap:8px;
  margin: 0;
}


.register-form{
  display: flex;
  flex-direction: column;
  font-size: 1.1 em;
  text-align: center;
  padding: 60px;
  background-color: #D8E0E0;
  border-radius: 8px;
  width: 400px;
  margin-top: 15px;
}

.register-form input{
  padding: 10px;
  font-size: 1em;
  border:1px solid #ccc;
  border-radius: 4px;
}

.register-form label{
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
}

.submit-buttons {
  background-color: #04B6B6;
  color:white;
  border: none;
  padding: 15px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.25s, box-shadow 0.25s;
  cursor:pointer;
  font-family: "Roboto", sans-serif;
}

.submit-buttons a {
  color:white;
  font-weight: bold;
}

.submit-buttons:hover {
  background-color: #039a9a;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 1);
}

.arrow-icon{
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  font-size: 40px;
}

.arrow-icon:hover{
  background-color: #039a9a;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 1);
  border-radius: 20px;
}

/*---------------------------------------------SIGNUP-----------------------------------------*/
/*---------------------------------------------DASHBOARD-----------------------------------------*/
.hellow-user{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  height: 100vh;
}
.hellow-user h2 {
  color: #04B6B6;
  font-size: 4em;
  margin:0;
  display: flex;
  align-items: center;
  gap:20px;
}

.nav-options{
  background-color: #04B6B6;
  width: 250%;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
}

.nav-options ul{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin:0;
  padding: 20px;
}

.nav-options li{
  list-style: none;
}

.nav-options a{
  list-style: none;
  color: white;
}

.nav-options a:hover{
  color:white;
  font-weight: bold;
  text-decoration: underline;
}

/*---------------------------------------------DASHBOARD-----------------------------------------*/
/*---------------------------------------------MYMEDICATION-----------------------------------------*/
.Mymedication-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap:48px
}

.header-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.title-button-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  box-sizing: border-box;
  margin:0;
}

.title-button-container h2{
  margin:0;
  text-align: center;
  flex-grow: 1;
  color: #04B6B6;
  font-size: 4em;
}

.medication-container{
  background-color: #D8E0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.medication-container ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin:0;
  padding: 10px;
  justify-content: center;
}

.medication-cards{
  background-color: #04B6B6;
  padding: 10px; 
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 300px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.medication-info{
  background-color: whitesmoke;
  width: 100%;
  box-sizing: border-box;
}

.medication-info h3{
  text-decoration: underline;
  font-size: 20px;
}

.bitrash-icon{
  background-color: red;
  border-radius: 90%;
  font-size: 2em;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: transform 0.1;
}

.bitrash-icon:hover{
  background-color: darkred;
}

.bitrash-icon:active{
  transform: scale (0.9);
}

/*---------------------------------------------MYMEDICATION-----------------------------------------*/
/*---------------------------------------------WEATHER----------------------------------------*/
.weather-container {
  width: 40%; 
  border: 2px solid #ccc; 
  border-radius: 8px;
  padding: 10px; 
  max-height: 300px; 
  background-color: #E6E6FA;
}

.weather-location{
  font-family: "Lobster", sans-serif;
  font-weight: 500;
  font-style: normal; 
  color:#1E90FF;
  font-size: 20px;
}
.weather-content{
  font-family: "Lobster", sans-serif;
  color:	#7B68EE;
}
.weather-icon{
  width: 100px; 
  height: 100px; 
  margin: 0;
}

.weather-temperature p {
  font-size: 2em;
  font-weight: bold;
  margin:0
}
/*---------------------------------------------WEATHER------------------------------------------*/
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
